openssl_conf = openssl_init

[openssl_init]

engines = engine_section

[engine_section]

puka_engine = puka

[puka]
# engine control
SET_UART_PATH=/dev/ttyUL0
# apply all defined algorithms
default_algorithms = ALL
# initialize
init=1
